[submodule "puppet/modules/puppet-module-etcd"]
	path = puppet/modules/etcd
	url = https://github.com/jetstack/puppet-module-etcd.git
[submodule "puppet/modules/puppet-module-kubernetes"]
	path = puppet/modules/kubernetes
	url = https://github.com/jetstack/puppet-module-kubernetes.git
[submodule "puppet/modules/puppet-module-prometheus"]
	path = puppet/modules/prometheus
	url = https://github.com/jetstack/puppet-module-prometheus.git
[submodule "puppet/modules/puppet-module-aws_ebs"]
	path = puppet/modules/aws_ebs
	url = https://github.com/jetstack/puppet-module-aws_ebs.git
[submodule "puppet/modules/puppet-module-tarmak"]
	path = puppet/modules/tarmak
	url = https://github.com/jetstack/puppet-module-tarmak.git
[submodule "puppet/modules/puppet-module-vault_client"]
	path = puppet/modules/vault_client
	url = https://github.com/jetstack/puppet-module-vault_client.git
[submodule "puppet/modules/puppet-module-calico"]
	path = puppet/modules/calico
	url = https://github.com/jetstack/puppet-module-calico.git
[submodule "puppet/modules/kubernetes_addons"]
	path = puppet/modules/kubernetes_addons
	url = https://github.com/jetstack/puppet-module-kubernetes_addons.git
