[submodule "puppet/modules/puppet-module-etcd"]
	path = puppet/modules/etcd
	url = https://github.com/jetstack/puppet-module-etcd.git
[submodule "puppet/modules/puppet-module-kubernetes"]
	path = puppet/modules/kubernetes
	url = https://github.com/jetstack/puppet-module-kubernetes.git
[submodule "puppet/modules/puppet-module-kubernetes_addons"]
	path = puppet/modules/kubernetes_addons/
	url = https://github.com/jetstack/puppet-module-kubernetes_addons.git
